<div style="height:26px;float:left;">
    {{input type="checkbox" id="activated-switcher" name="activated" class="switch" checked=activated }}
    <label for="activated-switcher" style="margin:3px 3px;height:26px;text-align:left;font-weight:bold;">{{#if activated}}{{SYSLang.Public}}{{else}}{{SYSLang.Private}}{{/if}}</label>
</div>