<div id="media-enlarge-bg">
    <div id="media-enlarge-container">
        <div id="media-enlarge-button"><button {{action 'close'}}>✖</button></div>

        <img id="media-enlarge-target" style="width: 128px; height: 128px; visibility: hidden;" src="images/admin/gray-loading.gif" />

    </div>
</div>