<div style="background:#8dcff4;padding:5px 5px;">

	<div style="width:1024px;margin:5px auto;padding:5px 5px;background:#fff;-moz-border-radius: 6px;border-radius: 6px;font-family:Arial,SimHei;">

	<p>您好:</p>

	<div> 
	${msg}

	<p>您的用户名： ${username} </p>
	<p>您的用户密码： ${password} </p>
	
	<p>请点击下面的链接打开登陆页面<br/>
	<a href="http://localhost:8080/site/signin?sessionId=ADFdf4RGADFETGADFGRGG_423423DFDFDf334342">localhost:8080/site/trip/print/${uuid}?sessionId=ADFdf4RGADFETGADFGRGG_423423DFDFDf334342</a>
	</p>

	<p>建议你在首次登陆后修改你的初始密码</p>

	<p>祝您愉快！</p>

	</div>

	<p>--</p>
	<p></p>
		<div><strong>跳蛙网 Jumkid.com</strong></div>
		<div>热衷旅行与探索 pursue travel and exploring</div>
		<a href="http://www.jumkid.com" target="_blank">www.jumkid.com</a>

	</div>
	
</div>